@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Kanit:wght@300&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #36538c;
    font-family: 'Kanit', sans-serif;
    color: gray;
    align-items: center;
    text-align: center;
}

h1 {
    letter-spacing: 2px;

}

h2 {
    display: inline-block;
    padding: 2em;
    letter-spacing: 2px;
}

.result {
    margin-right: 15em;
}

header {
    padding: 2em;
}

.menu button {
    float: right;
    margin-right: 5em;
    list-style: none;
    text-decoration: none;
}

button {
    background-color: green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
}

button:hover {
    color: blue;
}

div {}

.choice-area {}

.icon-area {
    margin: 3em;
}

.scoring-area {
    margin: 3em;
}

footer {
    margin: 2em;
    padding: 2em;
    height: 2em;
    background-color: blueviolet;
}

.rules {
    display: none;
    padding: 2em;
    font-size: larger;
}

img {
    height: auto;
    width: 50%;
}

.rules-box {
    background-color: aliceblue;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin: 0 40em;
    left: 0;
    right: 0;
    opacity: 0.8;
    border-radius: 1em;
}